{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}

<div style="padding-left: 10%; padding-right: 10%;">
    <div class=" my-2 shadow p-3">
        <h4 class="text-center">About-Us</h4>

        <p>
            Yantra Educare is an educational hub that guides students in shaping their future careers.
        
        Our organization is driven by more than 50 young and dynamic professionals and education counselors who are dedicatedly working to take Yantra Educare to dream heights. 
        Our team is always ready for any challenge and they give you the best solutions for your problems.
        
        There is a famous quote from  B. B. King on education 
        “The beautiful thing about learning is that no one can take it away from you”  
        Proper professional education produces managers, leaders who have proper vision and ability to turn their visions into reality.  
        
        Yantra Educare provides you world class education and training in which you will learn how to solve real world problems. Our organization gives you live projects to give you hands on experience and make you a real professional.
        
        We are continuously empowering our students by improving educational standard and guiding them for a bright future ahead.
        
        We are also providing scholarships to financially weak students because we don’t want any student to lose opportunity just just because of money.
        
        
        
        
        WHAT WE ARE GOING TO DO ?
        
        Yantra educare is going to tie up with colleges and institutions for giving students best training. Colleges will invite us for counselling their students and also informing them about new industry trends which will keep them updated and make them ready to work in industry.
        
        With all this great vision and goals we ready to take your career to new heights.
        
    </p>

    <h4 class="text-center">Our Mission</h4>
    <p>
        Most of the understudies are befuddled for their career and experts are pushed up. Not at all like past, nowadays, a part of career openings are accessible in India. More than 3500+ career choices are accessible as it were in India to select from. 

    To know around all these career choices and to choose the leading one is truly troublesome. We need a proficient career counselling. Career directing could be an orderly prepare where career advisor makes a difference understudy and working experts to create educated career choices. Career advising cannot be one-sided towards guardians or towards understudies. Not one or the other career guide can choose their claim inclinations. 

    Career directing is the totally fair-minded prepare. It is absolutely based on the student’s identity, career interest, career inspirations and his aptitude. Career directing in India is exceptionally prevalent presently and increasingly understudies are picking for it.

    </p>

    <h4 class="text-center">Our Vision</h4>
    <p>
        To provide Career Counselling services with great assets and services so that every human can get the best career option in his life.

    </p>

    </div>  
</div>

{% endblock main-content %}