{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <img class="rounded-circle account-img mt-5" src="{{ request.user.profile.image.url }}" alt="pic" style="height: 70%; width: 55%;">

            <a href="{% url 'updation' %}"><svg class="gb_lb" enable-background="new 0 0 24 24" focusable="false" height="26" viewBox="0 0 24 24" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20 5h-3.17L15 3H9L7.17 5H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 14H4V7h16v12zM12 9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"></path></svg></a>
            
        </div>
    </div>

    <div class="row">
        <div><h3>Welcome {{request.user}}</h3>
            <h4>Roll - {{request.user.profile.Category}}</h4></div><br>
        {{ request.user.code }}
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="{% url 'dashbord' %}" class="btn ">Dashboard</a></li>
                    <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
                    <li class="d-grid"><a href="{% url 'address' %}" class="btn ">Address</a></li>
                    <li class="d-grid"><a href="{% url 'accdetail' %}" class="btn {{active}}">Account Details</a></li>
                    <li class="d-grid"><a href="{% url 'listing' %}" class="btn ">List</a></li>
                    <li class="d-grid"><a href="{% url 'gallery' %}" class="btn  ">Gallery</a></li>
                    <li class="d-grid"><a href="{% url 'training' %}" class="btn ">Training</a></li>
                    <li class="d-grid"><a href="{% url 'exam' %}" class="btn ">Test Your Knowledge</a></li>
                </ul>
            </div>
        <div class="col-sm-9 offset-sm-1">
        <div class="row">
    <form action="" method="post" novalidate class="shadow p-5" role="form">
    {% csrf_token %}
    <center><h2>Add Banking Details</h2></center><br><br>
    {{ form|crispy }}   
    
    <input type="submit" value="Submit" class="btn btn-primary my-2">
    <br>
    
    
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    {% endif %}
    
</form>
{% if messages %}
    {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5"{% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
</div>
</div>
</div>
</div>


 
{% endblock main-content %}