{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <form method ='POST' enctype='multipart/form'>
                {% csrf_token %}
                {% comment %} <img class="gb_Ia gbip gb_fb my-4" src="{% static 'app/images/baraatimages/edu.png'%} " style="height: 50%%; width: 40%;" >  {% endcomment %}
                <img class="rounded-circle account-img mt-5" src="{{ object.image.url }}" alt="piic" style="height: 70%; width: 55%;"> 
        
                <a href="{% url 'updation' %}"><svg class="gb_lb" style="color:green;" enable-background="new 0 0 24 24" focusable="false" height="26" viewBox="0 0 24 24" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20 5h-3.17L15 3H9L7.17 5H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 14H4V7h16v12zM12 9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"></path></svg></a>
        
            
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-2 border-end">
            
            <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'dashbord' %}" class="btn ">Dashboard</a></li>
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn{{active}}">Profile</a></li>
            <li class="d-grid"><a href="{% url 'address' %}" class="btn ">Address</a></li>
            <li class="d-grid"><a href="{% url 'accdetail' %}" class="btn ">Account Details</a></li>
            <li class="d-grid"><a href="{% url 'listing' %}" class="btn ">List</a></li>
            <li class="d-grid"><a href="{% url 'gallery' %}" class="btn  ">Gallery</a></li>
        
            
            </ul>
        </div>

    
        
        

            <div class="col-sm-9 offset-sm-1">
                    <div class="row">
                        <h3>Welcome {{object.user}} Profile</h3>
                            <h3 style="color: blue;">UserCode-- {{object.code}}</h3><br>
                            <h3 style="color: blue;">Phone-No - {{object.Phone_Number}}</h3><br>
                            <h3 style="color: blue;"> Email   - {{object.email}}</h3>
                            <h3 style="color: blue;"> Category - {{object.Category}}</h3>

                            <br><br><p id="p1"><h2 style="color: green;">www.yantraeducare.com/{{object.code}}/

                            <button onclick="copyToClipboard('#p1')"><i class="far fa-copy"></h2></i></button> </p><br>
                            

                    </div>
            </div>
    </div>
</div>

{% endblock main-content %}
