{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <!-- <h3>Login</h3> -->
   <hr>
       <br><br><br><br><br>
        <!-- <img src="{% static 'app/images/baraatimages/logout_img.png' %}"  style="width:800px; height:100px; padding-left:400px;"> -->
        <img src="{% static 'app/images/baraatimages/logout_img.jpg' %}">
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br>


  </div>
 </div>
</div>
{% endblock main-content %}
