{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container">

    <div class="row">
        <div class="col-sm-3">
        <form method ='POST' enctype='multipart/form'>
            {% csrf_token %}
            {% comment %} <img class="gb_Ia gbip gb_fb my-4" src="{% static 'app/images/baraatimages/edu.png'%} " style="height: 50%%; width: 40%;" >  {% endcomment %}
            <img class="rounded-circle account-img mt-5" src="{{ request.user.profile.image.url }}" alt="piic" style="height: 70%; width: 55%;"> 

            <a href="{% url 'profile' %}"><svg class="gb_lb" enable-background="new 0 0 24 24" focusable="false" height="26" viewBox="0 0 24 24" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20 5h-3.17L15 3H9L7.17 5H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 14H4V7h16v12zM12 9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z"></path></svg></a>
            {% comment %} {{p_form.as_p}} {% endcomment %}

            {% comment %} <fieldset class='form-group'>
                <div>
                    <a href=''><input type='file' class='btn btn-outline-info' >update</a>
                </div>
            </fieldset> {% endcomment %}
           </form>
        </div>
    </div>
    {% comment %} <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.images.url }}" >
        
        
      </div> {% endcomment %}


 <div class="row">
    {% comment %} {% for i in p %} {% endcomment %}
        {% comment %} <img class="rounded-circle account-img" src="{{ request.user.profile.image.url }}" alt="piicc">  {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
    <div><h3>Welcome {{request.user}}</h3>
      <h4>Roll - {{request.user.profile.Category}}</h4></div><br>
  <div class="col-sm-2 border-end">
    
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn ">Address</a></li>
    <li class="d-grid"><a href="{% url 'accdetail' %}" class="btn ">Account Details</a></li>
    <li class="d-grid"><a href="{% url 'dashbord' %}" class="btn ">Dashboard</a></li>
    <li class="d-grid"><a href="{% url 'listing' %}" class="btn ">List</a></li>
    <li class="d-grid"><a href="{% url 'training' %}" class="btn ">Training</a></li>
    
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    <h3>UserCode-- {{user.profile.code}}</h3>
     <form method = 'POST' enctype= "multipart/form-data">
      {% csrf_token %}
       <fieldset class="form-group">
        <legend class="border-bottom  mb-4">Profile Info</legend>
          {{u_form|crispy }}
          {{p_form.as_p}}



          <h1></h1>
        </fieldset><br>
        <button class="btn-outline info" type="submit">Update</button>

     </form>
   </div>

  </div>
 </div>
</div>

{% endblock main-content %}