{% extends 'app/base.html' %}
{% block  main-content %}


<h2 class="text-center"> Use code to join..</h2>


        
            <div class="card text-center">
                <div class="card" >
                    <div class="card-body ">
                      <h5 class="card-title">Code -- 7ca5a751<br><br></h5>
                      <p class="card-text " >The given code is of admin Please use to register (Yantra)</p>
                      <a href="{% url 'refral_code' %}" class="btn btn-primary">Create Account</a>
                    </div>
              </div>
            </div><br><br><br>
        


<br><br><br><br><br>

{% endblock main-content%}